Import Requirements and Documentation
Last published date: 2021-11-02
U.S. firms seeking to export to Iraq must comply with Iraqi customs regulations.  The following customs documents are required for imports under the Iraqi Law of Customs No. 23 (1984).

There are numerous steps involved in legalizing commercial invoices and certificates of origin, including obtaining a stamp from a local chamber of commerce, legalization by the Secretary of State in the state where the documents originate, authentication by the Department of State, then obtaining a stamp from the Iraqi Commercial Attaché in Washington, D.C.  These steps are laid out on the following website:  http://ico-dc.org/en/document-legalization/ (documents must contain actual signatures, as digital signatures are not recognized by Iraqi Customs).  The Bill of Lading or similar document is required to establish a link between the cargo and the contract.
 
